:host {
    display: inline-block;
}

.btn-loading {
    opacity: 0.65;
    pointer-events: none;
}

.btn-loading .spinner-border {
    margin-inline-end: 0.5rem;
}

.btn-loading .spinner-border-lg {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.15em;
}
