<div class="field" [class.has-error]="!!error">
    @if (label) {
        <label [for]="inputId" class="label">
            {{ label }}
            @if (required) {
                <span class="required-mark">*</span>
            }
        </label>
    }
    <div class="input-wrapper">
        <input
            [id]="inputId"
            [name]="name"
            [type]="type"
            class="input"
            [class.is-invalid]="error"
            [placeholder]="placeholder"
            [disabled]="disabled"
            [readonly]="readonly"
            [required]="required"
            [value]="value"
            [attr.autocomplete]="autocomplete || null"
            [attr.aria-invalid]="!!error"
            [attr.aria-required]="required"
            (input)="onInput($event)"
            (blur)="onBlur($event)"
        />
    </div>
    @if (error) {
        <p class="error-text" role="alert">{{ error }}</p>
    }
    @if (helpText && !error) {
        <p class="help-text">{{ helpText }}</p>
    }
</div>
